<div class="container">
    <h3>Create Service Provider</h3>
    <form #f="ngForm">
        <div class="form-group">
            <label for="">Name</label>
            <input #name="ngModel" name="name" [(ngModel)]="provider.name" type="text" class="form-control" required>
            <div class="alert alert-danger" *ngIf="name.touched && name.invalid">
            <div *ngIf="name.errors.required">Name is required.</div>
            </div>
        </div>
        <div class="form-group form-check">
            <input #name="ngModel" name="sss" [(ngModel)]="provider.sss" type="checkbox" class="form-check-input" value="false">
            <label class="form-check-label" for="">SSS</label>
        </div>
        <div class="form-group form-check">
            <input #name="ngModel" name="nbi" [(ngModel)]="provider.nbi" type="checkbox" class="form-check-input">
            <label class="form-check-label" for="">NBI</label>
        </div>
        <button 
            [disabled]="!f.valid"
            (click)="submit()"
            class="btn btn-primary">Submit</button>
    </form>
</div>